                <div class="single-product shop-quick-view-ajax clearfix">

                    <div class="ajax-modal-title">
                        <h2>400 ton Sıcak Kamara Metal Enjeksiyon Makinesi</h2>
                    </div>

                    <div class="product modal-padding clearfix">

                        <div class="col_half nobottommargin">
                            <div class="product-image">
                                <div class="fslider" data-pagi="false">
                                    <div class="flexslider">
                                        <div class="slider-wrap">
                                            <div class="slide"><img src="/img/template1/400-ton/400-ton-1.png" alt="400 ton Sıcak Kamara Metal Enjeksiyon Makinesi"></div>
                                            <div class="slide"><img src="/img/template1/400-ton/400-ton-2.png" alt="400 ton Sıcak Kamara Metal Enjeksiyon Makinesi"></div>
                                            <div class="slide"><img src="/img/template1/400-ton/400-ton-3.png" alt="400 ton Sıcak Kamara Metal Enjeksiyon Makinesi"></div>
                                            <div class="slide"><img src="/img/template1/400-ton/400-ton-4.png" alt="400 ton Sıcak Kamara Metal Enjeksiyon Makinesi"></div>
                                            <div class="slide"><img src="/img/template1/400-ton/400-ton-5.png" alt="400 ton Sıcak Kamara Metal Enjeksiyon Makinesi"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col_half nobottommargin col_last product-desc">                         
                            <div class="clear"></div>
                            <div class="line"></div>

                            <!-- Product Single - Quantity & Cart Button
                            ============================================= -->
                            <a href="http://www.varolmakine.dev/metal-enjeksiyon/400-ton-sicak-kamara-metal-enjeksiyon-makinesi">
                                <button type="submit" class="add-to-cart button nomargin">İNCELE</button>
                            </a><!-- Product Single - Quantity & Cart Button End -->

                            <div class="clear"></div>
                            <div class="line"></div>
                            <ul class="iconlist">
                                <li><i class="icon-caret-right"></i> 400 Ton</li>
                                <li><i class="icon-caret-right"></i> Ton enjeksiyon kuvveti</li>
                                <li><i class="icon-caret-right"></i> galon/dk Hidrolik pompa</li>
                                <li><i class="icon-caret-right"></i> Günlük baskı adeti</li>
                                <li><i class="icon-caret-right"></i> Plc ve dokunmatik ekran kolaylığı</li>
                            </ul>
                            <div class="panel panel-default product-meta nobottommargin">
                                <div class="panel-body">
                                    <span class="posted_in">Kategori: <a href="#" rel="tag">Metal Enjeksiyon</a>.</span>
                                    <span class="tagged_as">Etiket: <a href="#" rel="tag">Metal Enjeksiyon</a>, <a href="#" rel="tag">Varol Makine</a></span>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>