/*** Edit ***/
.padding-temizle{
    padding:0 !important;
}
#top-bar {
    position: relative;
    border-bottom: 2px solid #000;
    height: 52px;
    line-height: 44px;
    font-size: 15px;
    background-color: #574020;
    color:#FFF;
}
.top-links li > a{
    color:#FFF;
}
.top-links ul li{
    border-left:0 !important;
}
.navbar{
    margin-bottom:0;
}
.navbar-default{
    background-color: transparent;
    border:none;
}

.navbar-default li{
    margin-right:10px;
}

.dropdown-menu li{
    margin-right:0;
}

.navbar-default li:last-child{
    margin-right:0;
}

.navbar-default .navbar-nav>li>a{
    color: #FFF;
    border: none;
    font-weight: bold;
    font-size: 16px;
    border-right: 2px solid #FFF;
    text-shadow: 1px 1px #000;
}

.navbar-default .navbar-nav>li>a:hover{
    color:#FEC901;
    border:none;    
    border-right: 2px solid #FFF;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    color:#FEC901;
    border-right: 2px solid #FFF;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color:#FEC901;
}

.navbar-default .navbar-nav>li>a:active{
    color:#FEC901;
    /*border:2px solid #FFF;
    border-radius: 50px;*/
}

.dropdown-menu{
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
    background-color: #574020;
    color: #FFF;
}

.dropdown-menu>li{
    background-color: transparent;
    border:none;
    margin-top: 2px;
}

.dropdown-menu>li>a{
    color: #FFF;
    background-color: #A98144;
    border: 2px solid #574020;
    border-radius: 8px;
}
.navbar-default .navbar-toggle {
    border-color: #FEC901;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #000;
}
/*#A98144*/
#header, .header{
    position: relative;
    background-color: #A98144;
    border-bottom: 2px solid #000;
}
#header, .header, #header-wrap, #logo img{
    height:76px;
}
#header.sticky-header #header-wrap{
    background-color: #A98144;
}
.top-links li i {
    margin: 15px 0 15px 0;
    font-size: 20px;
}
.top-links li > a {
    padding: 0 1px;
}
.top-links li:hover {
    background-color: initial;
}
.top-links li > a:hover{
    color: #A98144;
}
.product-price a{
    color:#333;
}
.product-price a:hover{
    color:#938c8c;
}
.content-wrap {
    position: relative;
    padding: 25px 0;
    margin-bottom: 50px;
}
#page-title {
    padding: 30px 0;
}
.feature-box.fbox-plain .fbox-icon i, .feature-box.fbox-plain .fbox-icon img{
    color: #574020;
}
.contact-box-edit{
    height:310px;
}
.portfolio-overlay a {
    left: 60%;
}
@media (min-width: 1200px)
{
    .web-menu{
        display:block;
    }
    .mobile-menu{
        display:none;
    }
}
@media (max-width: 1200px)
{
    .web-menu{
        display:none;
    }
    .mobile-menu{
        display:block;
    }
    .navbar-nav {
        margin: 7.5px 0;
        background-color:#A98144;
    }
    .dropdown-menu {
        background-color: #574020;
        box-shadow: none;
        border: 1px solid #FFF;
    }
    .navbar-default .navbar-toggle .icon-bar{
        background-color:#FFF;
    }
    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
        color: #FEC901;
        border: none;
        background-color: transparent;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a{
        color:#FFF;
    }
    .dropdown-menu>li>a {
        color: #FFF;
        background-color: #574020;
        border: none;
        border-radius: 0;
    }
    .navbar-nav .open .dropdown-menu{
        background-color: #574020;
        border-radius: 8px;
    }
    .navbar-default .navbar-nav>li>a {
        border:none;
    }
    .navbar-default li {
        margin:0;
    }
    .navbar-collapse{
        border:none;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border:none;
        margin-top: 6px;
    }
    .header{
        height:82px;
    }
}
@media (min-width: 768px)
{
    .navbar-nav > li > a {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 27px;
        margin-bottom: 9px;
    }
}
/*** Edit ***/









































/*#E61616*//*
body{
    font-family: "Open Sans", Arial, sans-serif !important;
}
h1 > span:not(.nocolor), h2 > span:not(.nocolor), h3 > span:not(.nocolor), h4 > span:not(.nocolor), h5 > span:not(.nocolor), h6 > span:not(.nocolor){
    color:#E61616 !important;
}
body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > ul > li:hover a, body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > ul > li.current a, body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > div > ul > li:hover a, body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > div > ul > li.current a{
    color:#E61616 !important;
}
.promo{
    padding: 30px 30px 12px 0 !important;
}
.promo.promo-light{
    padding-left:30px !important;
}
.promo-edit{
    padding: 30px 30px 20px 0 !important;
}
.promo-edit-span p{
    margin-bottom:10px !important;
}
.sol-metal-enjeksiyon-menu{
    border-bottom:2px solid #000;
    padding-bottom:10px;
}
.product-overlay a:hover {
    background-color: #E61616 !important;
    color: #FFF !important;
}
.button{
    background-color: #E61616 !important;
}
.product-meta a{
    color: #E61616 !important;
}
.product-title h3 a:hover{
    color: #E61616;
}
.product-3 .product{
    width:25% ;
}
.postcontent{
    width: 1170px;
}
.promo.promo-light{
    border-radius: 8px !important;
}
.owl-edit .owl-item img{
    border: 2px solid #eee;
    border-radius: 5px;
}
#copyrights{
    padding: 10px !important;
}
#header.full-header #logo{
    border: none !important;
}
.button.button-3d:hover{
    background-color: #F06868 !important;
}
.heading-block{
    margin-top:50px;
}
.edit-varol .product-image{
    background-color: #FFF !important;
}
.singleSliderBack {
    background-color: #888;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(1px) brightness(0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#page-title h1{
    color:#FFF;
}
#page-title span{
    color:#FFF;
}
.breadcrumb a{
    color:#FFF;
}
.breadcrumb > .active{
    color:#FFF;
}
#page-title.page-title-mini h1{
    color:#FFF !important;
}
@media (min-width: 992px) and (max-width: 1199px) {
    .postcontent {
        width: 690px;
    }
}
@media (max-width: 991px) {
    .postcontent,
    .postcontent.bothsidebar,
    .sidebar {
        width: 100%;
    }
}
/*#header{
    height: 100px;
}
#header, #header-wrap, #logo img{
    height: 90px;
    padding-top:10px;
}*/
/*#E61616*/
body{
font-family: "Open Sans", Arial, sans-serif !important;
}
h1 > span:not(.nocolor), h2 >
span:not(.nocolor), h3 > span:not(.nocolor), h4 > span:not(.nocolor), h5 > span:not(.nocolor), h6 > span:not(.nocolor){
color:#A98144 !important;
}
body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > ul > li:hover a, body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > ul > li.current a, body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > div > ul > li:hover a, body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > div > ul > li.current a{
color:#A98144 !important;
}
.promo{
padding: 30px 30px 12px 0 !important;
}
.promo.promo-light{
padding-left:30px !important;
}
.promo-edit{
padding: 30px 30px 20px 0 !important;
}
.promo-edit-span p{
margin-bottom:10px !important;
}
.sol-metal-enjeksiyon-menu{
border-bottom:2px solid #000;
padding-bottom:10px;
}
.product-overlay a:hover {
background-color: #E61616 !important;
color: #FFF !important;
}
.button{
background-color: #A98144 !important;
}
.product-meta a{
color: #E61616 !important;
}
.product-title h3 a:hover{
color: #E61616;
}
/*.product-3 .product{
width:25% ;
}*/

.promo.promo-light{
border-radius: 8px !important;
}
.owl-edit .owl-item img{
border: 2px solid #eee;
border-radius: 5px;
}
#copyrights{
padding: 10px !important;
}
#header.full-header #logo{
border: none !important;
}
.button.button-3d:hover{
background-color: #dda95a !important;
}
.heading-block{
margin-top:50px;
}
.edit-varol .product-image{
background-color: #FFF !important;
}
.singleSliderBack {
background-color: #333;
background-size: cover;
background-image: url('/img/template1/bg-doku.jpg');
background-repeat: no-repeat;
filter: brightness(0.8);
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
}
#page-title h1{
color:#FFF;
}
#page-title span{
color:#FFF;
}
.breadcrumb a{
color:#FFF;
}
.breadcrumb > .active{
color:#FFF;
}
#page-title.page-title-mini h1{
color:#FFF !important;
}
.widget_nav_menu li, .widget_links li, .widget_meta li, .widget_archive li, .widget_recent_comments li, .widget_recent_entries li, .widget_categories li, .widget_pages li, .widget_rss li{
    padding-left:0;
}
.widget_nav_menu li a, .widget_links li a, .widget_meta li a, .widget_archive li a, .widget_recent_entries li a, .widget_categories li a, .widget_pages li a, .widget_rss li a, .widget_recent_comments li{
    padding:0;
}
#content p {
    line-height: 1.5;
    font-size:16px;
}
@media (min-width: 992px) and (max-width: 1199px) {
.postcontent {
width: 690px;
}
}
@media (max-width: 991px) {
.postcontent,
.postcontent.bothsidebar,
.sidebar {
width: 100%;
}
}
/*#header{
height: 100px;
}
#header, #header-wrap, #logo img{
height: 90px;
padding-top:10px;
}*/