@media(min-width:992px)
{
    #header.header-narrow .header-logo img{
        margin: -35px 12px 12px 0;
        height: 90px;
        position: absolute;
        z-index: 999;
    }
}
@media(max-width:992px) {
    #header.header-narrow .header-logo img {
        margin: -6px 12px 12px 0;
        height: 90px;
        position: absolute;
        z-index: 999;
    }
    .header-container{
        min-height:80px !important;
    }
}
.social{
    float: right;
    margin:5px;
}
.social li {
    display: inline-block;
}
.social-1 li a {
    display: block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 3px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.social-1 li a:hover {
    background: #ffffff;
}
#footer .twitter ul li{
    padding-bottom:0px !important;
}
.owl-carousel .owl-item img{
    width:inherit !important;
}
.breadcrumb a{
    color:#FFF !important;
}
#header.header-narrow .header-body{
    min-height: 150px !important;
}
.thumb-info {
    min-height: 300px !important;
}
.reference-style .col-md-3{
    margin-bottom:20px;
}